<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap-grid.min.css" rel="stylesheet" />
-->

<div ng-controller="balanceCrtl as ctrl">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>เช็คยอดเงิน</h1>
            </div>
            <div class="col-sm">
         
            </div>
            <div class="col-sm">
       
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                บัญชี {{ctrl.account.id}}
            </div>
            <div class="col-sm">
                
            </div>
            <div class="col-sm text-right">
                {{ctrl.account.amount}} บาท
                <br />
                <small>สถานะล่าสุด {{ctrl.account.updateDate}} </small>
            </div>
        </div>
    </div>
</div>