<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap-grid.min.css" rel="stylesheet" />
-->

<div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>เช็คยอดเงิน</h1>
            </div>
            <div class="col-sm">
         
            </div>
            <div class="col-sm">
       
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                บัญชี 123-456-789
            </div>
            <div class="col-sm">
                
            </div>
            <div class="col-sm text-right">
                2,000 บาท
                <br />
                <small>สถานะล่าสุด xx-xx-xxxx xx:xx </small>
            </div>
        </div>
    </div>
</div>