<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap-grid.min.css" rel="stylesheet" />
 -->

<div ng-controller="transferCrtl as ctrl">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>โอนเงิน</h1>
            </div>
            <div class="col-sm">

            </div>
            <div class="col-sm">

            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                บัญชีผู้โอน 
            </div>
            <div class="col-sm text-right">
                123-456-789
                </div>
        </div>

        <div class="row">
            <div class="col-sm">
                บัญชีผู้รับโอน
            </div>
 
            <div class="col-sm text-right">
                <input type="text" value="" class="form-control" ng-model="ctrl.receiveAccount" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                จำนวนเงินที่โอน
            </div>

            <div class="col-sm text-right">
                <input type="text" ng-model="ctrl.amount" class="form-control" />
            </div>
        </div>

        <div class="row">
   
            <div class="col-sm  text-center col-md-12" >
                <input type="button" class="button"  value="ยกเลิก"/>&nbsp;
                <input type="button" class="button" value="ตกลง" ng-click="ctrl.Transfer('123-456-789', ctrl.amount)" />
        
        </div>
            </div>
    </div>
</div>