<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap-grid.min.css" rel="stylesheet" />
 -->

<div ng-controller="balanceCrtl as ctrl">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>โอนเงิน</h1>
            </div>
            <div class="col-sm">

            </div>
            <div class="col-sm">

            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                บัญชีผู้โอน 
            </div>
            <div class="col-sm text-right">
                123-456-789
                </div>
        </div>

        <div class="row">
            <div class="col-sm">
                บัญชีผู้รับโอน
            </div>
 
            <div class="col-sm text-right">
                xxx-xxx-xxxx
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                จำนวนเงินที่โอน
            </div>

            <div class="col-sm text-right">
                2000.00 บาท
            </div>
        </div>

        <div class="row">
   
            <div class="col-sm  text-center col-md-12" >
                <input type="button" class="button"  value="ยกเลิก"/>&nbsp;
                <input type="button" class="button" value="ตกลง" />
        
        </div>
            </div>
    </div>
</div>