<html ng-app="muWallet">
<head>
    <title></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.18/angular-ui-router.min.js"></script>

    <script src="src/factory/data.factory.js"></script> 
    <script src="src/controller/displayTransfer.controller.js"></script>
    <script type="text/javascript" src="src/controller/balance.controller.js"></script>
    <script type="text/javascript" src="src/controller/transfer.controller.js"></script>
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        .menu-item {
            height: 50px;
            line-height: 50px;
            border: solid 1px #FFF;
        }
    </style>
</head>
<body>
    <div style="min-width: 250px; display: inline-block; vertical-align: top; background-color: rgba(240,240,240, 0.7); padding-top: 50px;"
         class="text-center">
        <div style="border-radius: 50px; display: inline-block; width: 50px; height: 50px; background-color: #FFF; font-size: 50px; line-height: 50px;" class="text-center">
            <i class="fa fa-user"></i>
        </div>
        <br />
        <h4>Bruno Steban</h4>
        <h5>Dublin, Ireland</h5>
        <br />
        <div class="text-left">

            <div class="menu-item row" ng-click="StateRoute('balance')">
                <div class="col-10">เช็คยอดเงิน</div>
                <div class="col-1"><i class="fa fa-chevron-right"></i></div>
            </div>
            <div class="menu-item row" ng-click="StateRoute('transfer')">
                <div class="col-10">โอนเงิน</div>
                <div class="col-1" style="height: 50px; line-height: 50px;"><i class="fa fa-chevron-right"></i></div>
            </div>
        </div>
    </div>
    <div style="min-width: calc(100% - 255px); display: inline-block;">
        <div ui-view=""></div>
    </div>
</body>
</html>
<script>

    angular.module('muWallet', [
        'ui.router'
    ])
        .run(['$rootScope', '$state', function ($rootScope, $state) {
            $rootScope.StateRoute = function (url, params) {
                $state.transitionTo(url, params);
            };
        }])
        .config(['$stateProvider', '$urlRouterProvider', function ($stateProvider, $urlRoutersProvider) {
            $urlRoutersProvider.otherwise('/balance');
            $stateProvider
                .state('balance', {
                    url: '/balance',
                    templateUrl: '/src/layouts/balance.view.html',
                })
                .state('transfer', {
                url: '/transfer',
                templateUrl: '/src/layouts/transfer.view.html',
            })
            .state('transferResult', {
                url: '/transferResult/:accountNo:accountReceive:amount',
                templateUrl: '/src/layouts/transfer_result.view.html',
            });
        }])
        .directive('fitBottomEdge', function () {
            return {
                restrict: 'A',
                controller: function () { }
            }
        })
        .factory('dataFactory', dataFactory)
        .controller('transferCrtl', transferCrtl)
        .controller('balanceCrtl', balanceCrtl)
        .controller('transferResultCrtl', transferResultCrtl);

</script>